body {
  line-height: 1.4em;
  background-color: #000000;
  text-align: center;
  background-image: url(img/фон.png);
  color: #FFFFFF; 
  max-width: 100%;
  overflow-x: hidden;

}
.data{
    text-align: center;
    margin-top: 20%;
    font-family: 'Pattaya';
}

.info{
  text-align: center;
  font-family: 'Rubik Marker Hatch';
}

.shari{
  position: absolute;
  bottom: 17%;
  left: 5.5%;
}

.poderzka{
  position: fixed;
  right: 10px;
  bottom: 10px;
}



.lipistok{
  animation-name: lipistok;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: fixed;
  animation-duration: 15s;
  animation-timing-function: linear;
  z-index: -1;
}
.lipistok1{
  animation-name: lipistok1;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: fixed;
  animation-duration: 15s;
  animation-timing-function: linear;
  z-index: -1;
}



@keyframes lipistok{
  from{
    transform: translateY(0);
    transform: translateX(0);
    transform: rotateZ(0);
    top: -500px;
    left: -100px;
  }
  to{
    transform: translateY(100%);
    transform: translateX(80%);
    transform: rotateZ(360deg);
    top: 1000px;
    left: 80%;
    
  }
  
}

@keyframes lipistok1{
  from{
    transform: translateY(80%);
    transform: translateX(80%);
    transform: rotateZ(300deg);
    top: 3000px;
    right: 500px;
  }
  to{
    transform: translateY(0);
    transform: translateX(0);
    transform: rotateZ(0);
    top: -800px;
    right: 1900px;
    
  }
}


@media only screen and (min-width: 320px) and (max-width: 393px) {
  #sharik{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: -1;
  }
}


@media only screen and (min-width: 393px) and (max-width: 1079px) {
 #sharik{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: -1;
 }
}


@media only screen and (min-width: 1300px) { }


@media only screen and (min-width: 1400px) { }



* {
	box-sizing: border-box;
}

.g-form {
  position: absolute;
	width: 100%;
	max-width: 450px;
	padding: 50px;
  left: 38.5%;
  top: 80%;
}
.g-form__title {
	text-align: center;
	margin: 0;
	font-weight: 300;
	font-size: 1.2rem;
	text-transform: uppercase;
	line-height: 1.5;
}
.g-form__title a {
	color: #e8cd96;
}
.g-form__title_main {}
.g-form__preloader 
{ 
	height: 2px;
	width: 100%;
	position: relative;
	margin: 15px 0;
	opacity: 0;
}
.g-form__preloader:before {
	background: mediumturquoise;
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	width: 50px;
	height: 2px;
	-webkit-animation: smartlidPreloader 3s infinite;
	animation: smartlidPreloader 3s infinite;
}
.g-form__title_respond {}
.g-form__inputs {}
.g-form__input-wrapper {
	margin-bottom: 15px;
	border: none;
	padding: 0;
	width: 100%;
}

.g-form__input-wrapper input, .g-form__input-wrapper textarea{
	width: 100%;
	padding: 0 15px;
	border: 1px solid #25272b;
	border-radius: 3px;
	background: #1c1e21;
	height: 50px;
	font: 1rem 'Roboto', sans-serif;
	outline: none;
	color: #d2d2d3; 
	font-weight: 300;
}
.g-form__input-wrapper textarea {
	padding: 15px;
	height: 100px;
	resize: none;
}
.g-form__input-wrapper input:focus, .g-form__input-wrapper textarea:focus {
	border-color: #7055f0; 
}

.g-form__input-wrapper_hidden {
	display: none;
}
.g-form__button-wrapper {
	display: flex;
	justify-content: center;
}
.g-form__button {
  position: absolute;
	background: #7055f0;
	outline: none;
	border: none;
	border-radius: 25px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	font: 400 .9rem 'Roboto', sans-serif;
	color: #d2d2d3;
	text-transform: uppercase;
	cursor: pointer;
	transition: .3s;
	box-shadow: 0 3px 10px rgba(0,0,0, .2);
  left: 34.5%;
}

.g-form__button:hover {
	transition: .3s;
	box-shadow: 0 1px 1px rgba(0,0,0, .2);
	color: #fff;
	background: #37b599;
}

@media (max-width: 480px) {

@media (max-width: 359px) {
	.g-form {
		padding: 15px;
	}
}

@-webkit-keyframes smartlidPreloader {
	0% {
		left: 0; }
		50% {
			left: -webkit-calc(100% - 50px);
			left: calc(100% - 50px); }
			100% {
				left: 0%; } 
			}

			@keyframes smartlidPreloader {
				0% {
					left: 0; }
					50% {
						left: -webkit-calc(100% - 50px);
						left: calc(100% - 50px); }
						100% {
							left: 0%; } 
						}